/* CSS file for index.html and predict.html */

/* #loading {
  width: 100%;
  height: 550px;
  width: 100%;
  object-fit: fill;
  margin-top: 10%;
  border: none;
} */
/* table {
  border-collapse: collapse;
  border-spacing: 100px;
}*/
/* 
td,
th {
  border: 2px solid black;
  border-width: 5px;
  padding: 10px 5px;
} */
/* h1 {
    margin-left: 0px;
    text-align: center;
} */
.row {
  /* height: auto;
  overflow: hidden; */
  background-color: skyblue;
}
img {
  width: 100%;
  height: 600px;
  /* overflow-y: none; */
}
.center {
  text-align: center;
  margin-top: 0%;
  margin-left: 0%;
}

.button {
  /* position: relative; */
  /* top: 50%;
    left: 50%; */
  background-color: slateblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.col-sm {
  /* margin-top: 5%; */
  /* flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(27, 50, 73); */
  background-color: rgba(30, 27, 56, 0.4);
  margin: 0%;
  justify-content: start;
}
.col-sm div {
  background-color: #ffffffe8;
  padding: 0 0 0 0;
  border: black;

  width: 100%;
  margin: 0%;

  margin-left: 0%;
  margin-top: 1px;
  text-align: center;
  line-height: 50px;
  font-size: 12px;
  font-weight: 500;
}
.summary {
  height: 33%;
  display: block;

  width: 100%;
  background-color: #ffffffe8;
  margin: 2%;
  text-align: center;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  font-weight: 500;
  /* box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2); */
  box-shadow: 10px 10px 50px 10px rgb(21, 21, 92);
  border-radius: 5px;
  table-layout: auto;
}

.summary #myTable,
#current_batch {
  display: flex;
  justify-content: center;
  table-layout: auto;
  width: 100%;
  border-collapse: separate;
}
.summary #myTable tr td,
#current_batch tr td {
  border: 2px solid rgb(0, 0, 0);
  text-align: center;
  /* margin: 0 5px 0 5px; */

  /* padding-left: 30px; */
  /* padding-right: 30px; */
  table-layout: auto;
  width: 100%;
}
/* 
.summary #myTable tr {
  /* width: 100%; */
/* background-color: #fafafa; */
/* padding: 15px; 
  text-align: center;
  padding-top: 5px;
} */

#myTable td,
#current_batch td {
  width: 100%;
  table-layout: auto;
}
